/* Tipografía */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");
/****************************************
*    Variables
*****************************************/
:root {
  /* Colores */
  --primario: #000000;
  --primario-2: #333333;
  --primario-3: #707070;
  --secundario-1: #ff0000;
  --secundario-2: #d80000;
  --secundario-3: #ff3838;
  --secundario-4: #ff4f4f;
  --secundario-5: #ff6868;
  --brand-uno-1: #141414;
  --brand-uno-2: #f5f4e3;
  --brand-uno-3: #f8f6d6;
  --blanco: #ffffff;
  /* Theme modes */
  --background: var(--primario);
  --text: var(--blanco);
  /* Tipografia */
  --font-family: "Manrope", serif;
  /*--font-family-headings: "Tangerine", sans-serif;*/
  --h1: 60px; /* Cambiamos el valor del h1 aquí */
  --h2: 27px;
  --h3: 23px;
  --h4: 21px;
  --h5: 19px;
  --transition: all 0.4s ease-in-out;
}

/****************************************
*    Base
*****************************************/
html {
  height: 100%;
}

body {
  font-family: var(--font-family);
  background: var(--background);
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-headings);
}

h1 {
  font-size: var(--h1);
  line-height: 60px;
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

a {
  color: var(--text);
  text-decoration: none;
}

/* Quitamos los bullets de cada menu item */
ul li {
  list-style-type: none;
}

/****************************************
*    Componentes
*****************************************/
.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Aplicamos el formato al svg que está inline en el header */
.svg-estrella {
  color: var(--text);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 6px;
  /* border: 1px solid white;*/
  /* box-shadow: rgba(0, 0, 0, 0.25) 0 0 6px; */
}

/*
background-color: #FFFFFF;
box-shadow: rgba(0, 0, 0, 0.25) 0 0 6px;
color: #000000;
cursor: -webkit-image-set(url(http://tmpl.studio/info/dot70.png) 1x, url(dot702x.png) 2x) 18 18, default;
font-family: "Union Regular", Helvetica, sans-serif;
font-size: 0;
font-weight: 400;
left: 0;
letter-spacing: .01em;
line-height: 17px;
margin: 0;
padding: 0 15px;
position: fixed;
text-decoration: none;
text-transform: uppercase;
top: 15px;
width: calc(100% - 30px);
z-index: 10;
*/

.header h1 {
  line-height: 1.3;
  font-weight: bold;
}

.nav {
  width: 90vw;
  max-width: 1400px;
  /* Tercer valor indicaría margin bottom, por ejemplo:   margin: 0 auto 1em; */
  margin: 0 auto;
}

.home .nav {
  margin-top: auto;
}

/* Simplificamos el formato del menu aplicando display flex al menu link, poniendo inline el svg para aplicar el efecto hover al enlace */
.menu__link {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 25px;
  transition: all 400ms ease-in-out;
  overflow-x: hidden; /* Esto sirve para ocultar el overflow del svg */
}

.menu__item:nth-child(2) .menu__link {
  /* Cambiamos el orden en el 2do */
  flex-direction: row-reverse;
}

.menu__link:hover {
  color: red;
}

/* About */
/* Ultima actualización de la página de about donde solo implementabamos dark/light modes */
/* Diff: https://github.com/fergabilondo/portafolio/commit/61086aa17922fdbd653a207ff2e38ce4d65dfc27#diff-b78be019f1dc6d57753ea900c3805b114cd53ab7c0db836cc081836df1b99b7a */
/* Formato básico para centrar elementos y margin-top a enlaces sociales */
.contacto {
  width: 80vw;
  margin: auto;
  display: flex;
}

.contacto__info div:first-child {
  display: flex;
  width: 60vw;
  padding: 0 4rem;
  gap: 3rem;
}

.enlace-sociales {
  transform: translatex(65px);
}

.enlace-sociales {
  margin-top: 2rem;
  max-width: max-content;
}

.enlace-sociales a {
  transition: all 400ms ease-in-out;
}

.enlace-sociales a:hover {
  border-bottom: 2px solid var(--secundario-4);
}

.enlace-sociales a:last-child {
  margin-left: 1rem;
}

/* Proyectos */
.proyectos ul {
  display: flex;
  /* flex-wrap: wrap; */
  /* flex-direction: row-reverse; */
  width: 90vw;
  margin: 3rem auto;
}

/* .proyectos ul > * {
  flex-grow: 1;
  flex-basis: calc((35rem - 100%) * 999);
} */

/* Opcional margin top a la navegacion cuyo documento tenga elemento main */
/* .main + .nav {
 margin-top: 33vh;
} */

/* Aplicamos theme modes para simplificar el background & text dependiendo si tiene la clase dark o light */
/* Theme modes */
.dark {
  --background: var(--primario);
  --text: var(--blanco);
}

.light {
  --background: var(--blanco);
  --text: var(--primario);
}

/* Proyectos */
.lista-proyectos > * {
  margin-top: 110px;
}

.lista-proyectos li:nth-child(3n + 0) img {
  margin-left: auto;
}

button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  pointer-events: cursor;
  position: fixed;
  bottom: 50px;
  left: 50px;
}

/* Temp */
.header {
  position: fixed;
  width: 100vw;
  /*background-color: white;*/
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 100;
}

.light .header {
  background-color: white;
}

.lista-proyectos div {
  position: relative;
}

/* .lista-proyectos li {
  border: 2px solid hotpink;
} */

.lista-proyectos li:hover {
  visibility: visible;
  transition: all 0.4s ease-in-out;
}

.lista-proyectos div li {
  transition: var(--transition);
  position: relative;
  max-width: max-content;
  /* border: 5px solid black; */
}

.lista-proyectos li::after {
  transition: var(--transition);
  display: none;
}

.lista-proyectos li::after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: fit-content;
  text-align: center;
  content: attr(data-nombre);
  color: white;
  font-size: 25px;
}

.lista-proyectos li:hover::after {
  display: block;
}

.lista-proyectos img {
  background: var(--blanco);
  transition: var(--transition);
}
.lista-proyectos img:hover {
  filter: invert(1);
}

.intro {
  padding-top: 14vh;
  padding-right: 14vw;
  width: 50%;
  margin: 0 0 0 auto;
}
.intro > * + * {
  margin-top: 1rem;
}
.intro h2 {
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.intro .subtitulo {
  font-size: 15px;
  color: black;
}
.intro .descripcion {
  font-size: 14px;
  text-align: justify;
}
