/* Tipografía */
@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");
/****************************************
*    Variables
*****************************************/
:root {
  /* Colores */
  --primario: #141414;
  --primario-2: #333333;
  --primario-3: #707070;
  --secundario-1: #ff0000;
  --secundario-2: #d80000;
  --secundario-3: #ff3838;
  --secundario-4: #ff4f4f;
  --secundario-5: #ff6868;
  --brand-uno-1: #141414;
  --brand-uno-2: #f5f4e3;
  --brand-uno-3: #f8f6d6;
  --blanco: #ffffff;
  /* Intencion de colores */
  --color-titulo: var(--brand-uno-1);
  --color--link: var(--primario-2);
  /* Tipografia */
  --font-family: "Manrope", serif;
  --font-family-headings: "Tangerine", sans-serif;
  --h1: 32px;
  --h2: 27px;
  --h3: 23px;
  --h4: 21px;
  --h5: 19px;
  /* Intención de los colores */
}

/* Commit: variables colores */

/****************************************
*    Base
*****************************************/
html {
  height: 100%;
}

body {
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-headings);
}

h1 {
  font-size: var(--h1);
  color: var(--color-titulo);
  font-size: 120px;
  line-height: 150px;
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

a {
  text-decoration: none;
}

/****************************************
*    Componentes
*****************************************/
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: (--blanco);
}

.header__nombre {
  padding: 0 0 0 40px;
}

.header__nombre span {
  font-size: 245px;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px 80px 80px;
}

.menu__item {
  list-style-type: none;
  align-self: center;
}

.menu *:nth-child(1) {
  /* padding: 0 0 0 50px; */
}

.menu *:nth-child(2) {
  grid-column: 2/3;
  grid-row: 2/3;
  /* justify-self: start - default */
  /* justify-self: center - centro  */
  /* justify-self: end - final */
  justify-self: center;
}

.menu *:nth-child(3) {
  grid-column: 3/4;
  grid-row: 3/4;
  justify-self: end;
}

.menu__item:nth-child(odd) {
  padding: 50px;
}

.menu__link {
  font-size: 50px;
  color: var(--color--link);
  transition: all 400ms ease-in-out;
}

.menu__link:hover {
  color: red;
  /* font-family: Tangerine; */
}

/* 
.menu__link:hover {
  color: blue;
}
*/
